<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="stylesheets/page_thailand.css">
    <link rel="stylesheet" href="stylesheets/pages.css">

   
  </head>

  <body>
  	<div class="container">

  		<div class="top">
        <div class="top-score rt">
          <table class="top-score-table">
            <tr>
              <td>100</td>
              <td>200</td>
              <td>300</td>
              <td>400</td>
              <td>恭喜通关</td>
            </tr>
          </table>
        </div>
        <div class="top-img">
          <img src="images/page1/图2-02.png">
        </div>
        <!-- <div class="clear"></div> -->
      </div>


	  	<div class="bottom">
	  		<div class="question">
	  			<img src="images/page1/图2-04.png">
	  		</div>
	  		<div class="choice">
	  			<div id="a" class="choice-q choice-a">
	  				<img src="images/page1/图2-04-07.png">
	  			</div>
	  			<div id="b" class="choice-q choice-a">
	  				<img src="images/page1/图2-04-08.png">
	  			</div>
	  			<div id="c" class="choice-q choice-a">
	  				<img src="images/page1/图2-04-09.png">
	  			</div>
	  		</div>
	  		<div class="sub-btn">
	  			<img src="images/page1/图2-07.png">
	  		</div>
	  	</div>
  	</div>
  </body>



  <script src="javascripts/jquery-1.10.1.min.js"></script>
  <script src="javascripts/layer/layer.js"></script>
  <script>
  	// 选项被点击
  	$('.choice-q').click(function (){
  		$('.choice-q').removeClass('selected')
  		$(this).addClass('selected');
  	})

  	// 点击提交
  	$('.sub-btn').click(function(){
  		var anser = $('.selected').attr('id');
  		console.log(anser);
  		if (anser == null || anser == undefined) {
  			// alert ('请选择！');
  			// layer.msg('请选择！');
  			layer.open({
			    content: '请选择！'
			    ,skin: 'msg'
			    ,time: 2 //2秒后自动关闭
			  });
  		} else if (anser == 'b'){
  			window.location.href='page_korea';
  		} else {
  			window.location.href='wrong_thailand';
  		}
  	})
  </script>
  <script>
    // 保存当前页码到sessionStorage
    var pageNum = sessionStorage.getItem('page');
    console.log(pageNum);
    if (pageNum == null) {
    	window.location.href="/";
    }else if (pageNum == 0 || pageNum >0) {
    	pageNum =1;
    	sessionStorage.setItem('page',pageNum);
    	console.log(sessionStorage.getItem('page'))
    };
    // console.log(pageNum);
    
  </script>
</html>