<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="stylesheets/page_japan.css">
    <link rel="stylesheet" href="stylesheets/pages.css">
    <%include include_count.ejs %>

  </head>

  <body>
    <div class="container">

      <div class="top">
        <div class="top-score rt">
          <table class="top-score-table">
            <tr>
              <td>100</td>
              <td class="now-score">200</td>
              <td>300</td>
              <td>400</td>
              <td>恭喜通关</td>
            </tr>
          </table>
        </div>
        <div class="top-img img-left">
          <img src="images/page3/图4-06-06.png">
        </div>
        <!-- <div class="clear"></div> -->
      </div>


      <div class="bottom">
        <div class="question">
          <img src="images/page3/图4-07-16.png">
        </div>
        <div class="choice">
          <div id="a" class="choice-q choice-a japan-choice">
            <img class="no" src="images/page3/图4-07-17.png">
            <img class="sel hide" src="images/page3/h5-80.png">
          </div>
          <div id="b" class="choice-q choice-a japan-choice">
            <img class="no" src="images/page3/图4-07-18.png">
            <img class="sel hide" src="images/page3/h5-79.png">
          </div>
        </div>
        <div class="sub-btn">
          <img class="no" src="images/page3/图4-02.png">
        </div>
      </div>
    </div>

    <!-- 点击100元  弹出层 -->
    <div class="open container hide" >
      <div class="open-top">
        <img src="images/图8-06.png">
      </div>
      <div class="open-content">
        <div class="content-top">
          <img src="images/图8-05.png">
        </div>
        <div class="content-middle">
          <img src="images/page3/200.png">
        </div>
        <div class="content-bottom receive">
          <img src="images/图8-03.png">
        </div>
      </div>
      <!-- 点击关闭弹窗 -->
      <div class="close">×</div>

    </div>
  </body>



  <%include include_share_welcome.ejs %>

  <script src="javascripts/layer/layer.js"></script>
  <script>
    // 选项被点击
    $('.choice-q').click(function (){
      $('.choice-q').removeClass('selected')
      $(this).addClass('selected');
      
      $('.no').show();
      $('.sel').hide();
      
      $(this).children('.no').hide();
      $(this).children('.sel').show();
    })

    // 点击提交
    $('.sub-btn').click(function(){
      var anser = $('.selected').attr('id');
      // console.log(anser);
      if (anser == null || anser == undefined) {
        // alert ('请选择！');
        // layer.msg('请选择！');
        layer.open({
          content: '请选择！'
          ,skin: 'msg'
          ,time: 2 //2秒后自动关闭
        });
      } else if (anser == 'b'){
        window.location.href='page_britain';
      } else {
        window.location.href='wrong_japan';
      }
    })
    // 点击当前积分，弹出第一层弹窗
    $('.now-score').click(function(){
      $('.open').removeClass('hide');
    })
    // 点击立即领取，弹出关注公众号弹窗
    $('.receive').click(function(){
      layer.open({
          type: 1
          ,content: '<img src="images/page3/图12-03.png">'
          ,anim: 'up'
          ,style: 'backgroud-color: transparent; margin:auto 10%;'
        });
    })
    // 点击关闭弹出层
    $('.close').click(function(){
      $('.open').addClass('hide');
    })
  </script>
  <script>
    // 保存当前页码到sessionStorage
    var pageNum = sessionStorage.getItem('page');
    // console.log(pageNum);
    if (pageNum == null || pageNum == 0) {
      window.location.href="/";
    } else if (pageNum ==2 || pageNum > 2) {
      pageNum =3;
      sessionStorage.setItem('page',pageNum);
        // console.log(sessionStorage.getItem('page'));
    };
    // console.log(pageNum);


  </script>
</html>
