<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="stylesheets/pass.css">
    <title>滴~赶紧上车吃月饼啦！</title>
    <%include include_count.ejs %>
  </head>
  <body>
    <div class="container pass-bg">
      <div class="top">
        <img src="images/图22-04.png">
      </div>
      <div class="bottom-box">
        <div class="bottom">
          <img src="images/h5-pass.png">
        </div>
        

      </div>
    </div>

  </body>

  <%include include_share_welcome.ejs %>
  <script src="javascripts/layer/layer.js"></script>

  <script>
    // 加载本页，传递页码数和用户昵称，
    // $(document).ready(function(){
    window.onload = function(){
       // 保存当前页码到sessionStorage
      var pageNum = sessionStorage.getItem('page');
      var nickname = sessionStorage.getItem('nickname');
      // console.log(pageNum);
      if (pageNum == null || pageNum == 0) {
        window.location.href="/";
      } else if (pageNum ==6 || pageNum > 6) {
        pageNum = 7;
        sessionStorage.setItem('page',pageNum);
        // console.log(sessionStorage.getItem('page'));
      };

      // $('.pass-btn').click(function(){
      //   window.location.href='https://mp.weixin.qq.com/mp/profile_ext?action=home&scene=110&__biz=MzA4NTAyMzk0MQ==#wechat_redirect';
      // })

      // 发送请求
      $.ajax({
        type : 'post',
        url : 'pass',
        data : {
          pageNum : pageNum,
          nickname : nickname
        },
        dataType : 'json',
        success:function (data) {
          // console.log('you success!');
          // alert('data.id....'+data.id);
        }
      })
    }

  </script>


</html>
