<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="stylesheets/pages.css">
    <link rel="stylesheet" href="stylesheets/page_dubai.css">
    <%include include_count.ejs %>
  </head>

  <body>
   <div class="container">

      <div class="top">
        <!-- <div class="top-score rt">
          <table class="top-score-table">
            <tr>
              <td>100</td>
              <td>200</td>
              <td>300</td>
              <td>400</td>
              <td class="now-score">恭喜通关</td>
            </tr>
          </table>
        </div> -->
        <div class="top-img">
          <img src="images/page6/图7-07.png">
        </div>
        <!-- <div class="clear"></div> -->
      </div>


      <div class="bottom">
        <div class="question">
          <img src="images/page6/图7-03-36.png">
        </div>
        <div class="dubai-choice">

          <table class="dubai-choice-table">
            <tr>
              <td id="a" class="choice-q">
                <img src="images/page6/图7-03-32.png">
              </td>
              <td id="b" class="choice-q">
                <img src="images/page6/图7-03-31.png">
              </td>
            </tr>

            <tr>
              <td id="c" class="choice-q">
                <img src="images/page6/图7-03-33.png">
              </td>
              <td id="d" class="choice-q">
                <img src="images/page6/图7-03-30.png">
              </td>
            </tr>

            <tr>
              <td id="e" class="choice-q">
                <img src="images/page6/图7-03-34.png">
              </td>
              <td id="f" class="choice-q">
                <img src="images/page6/图7-03-29.png">
              </td>
            </tr>

            <tr>
              <td id="g" class="choice-q">
                <img src="images/page6/图7-03-35.png">
              </td>
            </tr>
          </table>

        </div>
        <div class="join-btn">
          <img src="images/page6/图23-50.png">
        </div>
      </div>
    </div>
  </body>

  <script src="javascripts/jquery-1.10.1.min.js"></script>
  <script src="javascripts/layer/layer.js"></script>
  <script>
    // 点击我要参与
    $('.join-btn').click(function(){
      window.location.href='welcome';
    })
  </script>

</html>
