<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>nameId</title>
  </head>
  <body>
    <% for(var i =0;i<reply.length;i++){ %>
      <li><%= reply[i] %></li>
    <% } %>
  </body>
</html>
