<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>过关名单</title>
  </head>
  <body>
    <h1>过关名单</h1>
    <ol style="padding-left:30px">
      <% for(var i =0;i<reply.length;i++){ %>
        <li><%= reply[i] %></li>
      <% } %>
    </ol>
  </body>
</html>
