<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="stylesheets/wrong.css">
    <title>滴~赶紧上车吃月饼啦！</title>
   <%include include_count.ejs %>

  </head>

  <body>
  	<section>
      <div class="top">
        <img src="images/page3/3.png">
        <div class="chakan">
          <img src="images/chakan.png" alt="">
        </div>
      </div>
      <div class="middle">
        <div class="again hide">
          <img src="images/图19.png">
        </div>
        <div class="help hide">
          <img src="images/图15-04.png">
        </div>
      </div>
      <div class="bottom">
        <img src="images/page3/图15-05.png">
      </div>
    </section>
  </body>



  <script src="javascripts/jquery-1.10.1.min.js"></script>
  <script src="javascripts/layer/layer.js"></script>
  <script>
  	 // 点击泰国，弹出二维码
     $('.chakan').click(function(){
        layer.open({
          type: 1
          ,content: '<img src="images/page3/图21-04.png">'
          ,anim: 'up'
          ,style: 'backgroud-color: transparent; margin:auto 10%;'
        });
     })

    // 保存当前页码到sessionStorage
    var pageNum = sessionStorage.getItem('page');

     // 点击‘求助好友’，弹出分享引导页面
     $('.help').click(function(){
      window.location.href='share?pageNum=3';
     })

     // 分享成功  按钮换成“再来一次”  并连接到当前题目页面
     var flag = '<%=flag%>';
     if (flag == 0) {
       $('.help').show();
     } else if(flag == 1) {
       $('.again').show();
     }
     $('.again').click(function(){
      window.location.href='page_japan';
     })
  </script>

</html>
