
.top{
	background-color: #74ad1a;
	/*padding: 30px 20px 4px;*/
	/*margin: 0;*/

}

.bottom{
	background-color: #7fc82a;
}
.choice .american-choice{
	/*margin:10px auto 35px;*/
	margin-top:10px;
	margin-bottom: 35px;
}