*{
	margin: 0;
	padding: 0;
}
.rt{
	float:right;
}
.lf{
	float: left;
}
.clear{
	clear: both;
}
html,body {
	width: 100%;
	height: 100%;

}
.container {
	width: 100%;
	height: 100%;
	text-align: center;

}
@media screen and (min-width: 600px) {
    html,body{
      background-color: transparent!important;
    }
    .container {
        width: 50%!important;
        margin: 0 auto;
    }
}
img{
	width: 100%;
}

.top{
	padding-top: 5px;
	/*height: 33%;*/
}
.top-img{
	width: 77%;
	margin: 5px auto 0;
}

.top-score{
	/*width: 45%;*/
	/*margin-left: 45%;*/
	margin-right: 20px;
	/*margin-top: 40px;*/
}
.top-score-table{
	border: 1px solid #333;
	border-collapse: collapse;
	/*padding-right: 40px;*/
	/*text-align: right;*/
}
td{
	font-size: 0.6rem;
	border: 1px solid #333;
	padding: 2px 4px;
}
.now-score{
	background-color: #fff;
}

.bottom{
	/*background-color: #f4e340;*/
	padding-top: 10px;
	/*height:67%;*/

	/*margin: 0 8%;*/
}
.question{
	width: 82%;
	margin: 0 auto;
}
.choice{
	margin:0 auto;
	width: 60%;
	position: relative;
}
.choice-q{
	margin-bottom: 10px;
}

.sub-btn{
	width: 30%;
	margin: 0 auto;
	padding-bottom: 25px;
}
.join-btn,{
	width: 40%;
	margin: 0 auto;
	padding-bottom: 25px;
}
/*.selected{
	width: 120%;
	margin: 0 -10% 25px;
}
*/
.hide{
	display: none;

}
.open{
	background-image: url(../images/图1-05.png);
	background-repeat: repeat;
	background-size: 100% 100%;
	position: relative;
	padding-bottom: 70px;

	position: absolute;
	z-index: 10;
	top: 0;
}
.open-top{
	width: 55%;
	margin: 0 auto;
}
.open-content{
	width: 80%;
	margin: -3px auto;
	background-color: yellow;
	border-radius: 25px;
	padding-top: 35px;
	padding-bottom: 1px;
}
.content-top{
	width: 80%;
	margin: 0 auto 30px;
}
.content-middle{
	width: 80%;
	margin: 0 auto;
}
.content-bottom{
	width: 40%;
	margin: 60px auto;
}
.close{
	width: 20px;
    height: 20px;
    color: #b5a1a1;
    border: 1px solid #9c9191;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
}
/*定制layer弹层样式*/
.layui-m-layerchild{
	background-color: transparent !important;
}
.layui-m-layershade{
	/*background-color: transparent !important;*/
	/*background-image: url(../images/图1-05.png);*/
	background-repeat: repeat;
	background-size: 100% 100%;
	position: relative;
	padding-bottom: 70px;
}
.layui-m-layer-msg{
	background-color: rgba(0,0,0,.7) !important;
}

