*{
	margin: 0;
	padding: 0;
}

html,body {
	width: 100%;
	/*height: 100%;*/

}
.container {
	width: 100%;
	height: 100%;
	text-align: center;
	/*position: relative;*/
}
@media screen and (min-width: 600px) {
    html,body{
      background-color: transparent!important;
    }
    .container {
        width: 50%!important;
        margin: 0 auto;
    }
}
.pass-bg{
	background-image: url(../images/å›¾22-02.png);
	background-repeat: repeat;
	background-size: 100% 100%;
	position: relative;
}
img {
	width: 100%;
}
.top{
	width: 80%;
	padding-top: 50px;
	margin: 0 auto;
}
.pass-box{
	width: 28%;
	margin: 0 auto;
	position: relative;
}
.pass-btn{
	width: 100%;
	padding-top:10px;
	margin: 0 auto;
	position: absolute;
	top:-27px;
	z-index:2;
}
.bottom{
	width: 74%;
	margin: 70px auto 0;
	position: relative;
}